.questionsDiv {
    font-size: 20 px;
}

.timer {
    height: 26px;
    background-color: mediumvioletred;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 62px;
}

h2 {
    font-size: 24px;
    text-align: left;
    text-indent: 20px;
}

h3 {
    font-size: 20px;
    padding: 0;
}

.answerLabel {
    border: 1px solid white;
    width: 33%;
    font-size: 18px;
    padding: 5px;
}

.answerLabel input {
    height: 13px;
    width: 13px;
}

.startQuizBtn {
    width: 100%;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    background-color: navy;
    color: white;
    border: 3px solid white;
    padding: 13px;
    border-radius: 15px;
}

.startQuizBtn:active,
.startQuizBtn:focus {
    color: lawngreen;
    background-color: navy;
    border: 3px solid lawngreen;
}

.startQuizBtn:disabled {
    color: black;
    background-color: lightblue;
    border: 3px solid black;
    cursor: not-allowed;
}